<!doctype html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Guestbook</title>
</head>
<body>
<div class="main">
        <div class="">
                <div class="container">
                        {% for entry in entries %}
                                <li>{{ entry.getEntry()  }} {{ entry.getName() }} {{ entry.getDate() }}</li>
                        {% endfor %}
                </div>
                <form>
                        <input type="text" name="entry" placeholder="Your entry">
                        <input type="text" name="name" placeholder="Your name">
                        <button type="submit">Add entry</button>
                </form>
        </div>
</div>
</body>
</html>