<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Guestbook</title>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<div class="main">
    <p>GUEST BOOK</p>
    <section>
    <div class="container">
        {% for entry in entries %}
            <div class="wrapper">
                <p class="inner">Entry: </p>
                <p class="inner">{{ entry.getEntry()  }}</p>
                <p class="inner">Name:</p>
                <p class="inner">{{ entry.getName() }}</p>
                <p class="inner">Date:</p>
                <p class="inner">{{ entry.getDate() }}</p>
            </div>
        {% endfor %}
    </div>
    <form method="POST">
        <p>Note:</p><br>
        <textarea rows="4" cols="50" type="text" name="note" value=""></textarea>
        <br>
        <p>Name:</p><br>
        <input type="text" name="name" value="">
        <br><br>
        <input type="submit" value="Add note">
    </form>
    </section>
</div>
</body>
</html>

